body{
    background-image: url(bg3.avif);
    background-repeat: no-repeat;
    background-size: 1200px 600px;
}
form{
    border: solid 0px white;
    width: 500px;
    margin-left: 200px;
}
h1{
    text-align: center;
    color: red;
    font-size: 45px;
}
label{
    font-size: 25px;
    color: yellowgreen;
    font-weight: bold;
}
input{
    width: 250px;
    height: 30px;
    margin-bottom: 20px;
}
button{
    height: 40px;
    width: 150px;
    background-color: red;
    color: white;
    font-size: 21px;
    border-radius: 25px;
}
p{
    color: black;
    font-size: 20px;
}